@value makerGreen from './../../common/colors.css';

.cardpreview_container {
  width: 50%;
  text-align: center;
  overflow-y: auto;
}

.cardpreview_container > p {
  color: makerGreen;
  font-size: 1.5rem;
  font-weight: bold;
}
