@value makerWhite, makerWheat, makerGreen from './../../common/colors.css';

.card_container {
  margin-bottom: 20px;
}

.inputs_container {
  display: flex;
  width: 100%;
}

.inputs_container > input[type="file"] {
  display: none;
}

.inputs_container > * {
  min-width: 0;
  flex-grow: 1;
  font-size: 1rem;
  padding: 4px 0 4px 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.file_btn:hover {
  background-color: makerWheat;
}

.inputs_btns > .del_btn {
  color: makerWhite;
  background-color: makerGreen;
}
