@value makerWhite, makerWheat from './../../common/colors.css';

.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login_container {
  margin: auto;
  width: 500px;
  height: 400px;
  background-color: makerWhite;
}

.login_top {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
  color: white;
  background-color: purple;
}

.login_top > img {
  width: 50px;
}

.login_top > h1 {
  margin: 0;
}

.login_center {
  height: 65%;
  text-align: center;
}

.login_center > p {
  margin: 0;
  padding: 20px 0;
  font-size: 2rem;
  font-weight: bold;
}

.social_btns {
  padding: 0;
  list-style: none;
}

.social_btns button {
  display: block;
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 20px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.social_btns button:hover {
  background-color: makerWheat;
}

.login_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: purple;
  color: white;
  text-align: center;
}
