@value makerGreen, makerGrey from './../../common/colors.css';

.section {
  display: flex;
  height: 80%;
  background-color: white;
}

.section_top {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  color: white;
  background-color: makerGreen;
}

.section_top > img {
  width: 50px;
}

.section_top > h1 {
  margin: 0;
}

.section_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  background-color: makerGreen;
  color: white;
  text-align: center;
}

/* logout */

.logout_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 3px;
  background-color: white;
  padding: 2px 5px;
  cursor: pointer;
}

.logout_btn:hover {
  background-color: makerGrey;
}
